* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e5e5e5;
    font-family: "Inter", sans-serif;
}

main {
    overflow: hidden;
    display: block;
    margin: 30px auto;
    width: 550px;
    height: 853px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

nav {
    height: 70px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
    padding: 22px 30px;
}

section {
    padding: 0 36px;
}

.grid-images img {
    display: block;
    margin: 26px auto;
    width: 396px;
    height: 232px;
}

.some-text h1 {
    font-weight: 600;
    margin-bottom: 16px;
    line-height: 110%;
}

.some-text p {
    max-width: 320px;
    font-weight: 300;
    color: #222;
    line-height: 110%;
}

.sells {
    margin-top: 49px;
    display: flex;
    position: relative;
}

.sells div {
    display: block;
    margin-right: 18px;
}

.sells .capa {
    width: 176px;
    height: 235px;
}

.state {
    display: none;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    top: 0;
    background-color: #ffffff;
    width: 61px;
    height: 20px;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 110%;
    color: #222;
    border-radius: 2px;
}

.information-container {
    margin-top: 9px;
}

.avaliation-envolver {
    display: flex;
    width: 100%;
}

.star {
    width: 14px;
    margin-right: 2px;
}

.avaliation-envolver span {
    font-weight: 300;
    font-size: 12px;
    margin-right: 2px;
    line-height: 110%;
}

.avaliation {
    color: #222;
}

.other-info {
    color: #918e9b;
}

.sells div p {
    margin: 8px 0;
    font-size: 12px;
    font-weight: 300;
    color: #222;
}

.sells div p strong {
    font-weight: 600;
}
